.collapse-enter {
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: scaleY(0);
    overflow: hidden;
}

.collapse-enter.collapse-enter-active {
    transform: scaleY(1);
    transition: transform 500ms ease-in;
}

.collapse-leave {
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: scaleY(1);
    overflow: hidden;
}

.collapse-leave.collapse-leave-active {
    transform: scaleY(0);
    transition: transform 500ms ease-in;
}
